@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

main {
  padding: 2% 7%;
  font-family: "Google Sans Code", monospace;
}

footer {
  border-top-style: solid;
  color: darkgrey;
  font-family: "Google Sans Code", monospace;
  font-size: 18px;
  text-align: center;
  padding-top: 9px;
}

h1 {
  color: darkgrey;
  font-family: "Google Sans Code", monospace;
  font-size: 30px;
  text-align: center;
  padding-bottom: 9px;
}

p {
  text-align: justify;
  font-family: "Google Sans Code", monospace;
}

.para0 {
  padding: 10px;
}

.para1 {
  display: flex;
  color: rgb(10, 10, 247);
  gap: 30px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.para2 {
  color: rgb(246, 37, 250);
}

.para3 {
  color: rgb(24, 184, 0);
}
